<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tech Blog | Let's Get Technological</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <script>
      tailwind.config = { variants: { extend: { opacity:["disabled"],
      cursor:["disabled"] } } }
    </script>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap'
      rel='stylesheet'
    />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/jass.css" /> 
    <link rel="stylesheet" href="/css/style.css" /> 
  </head>

  <body class='bg-gray-600'>
    <div class='flex flex-col justify-between text-white no-underline'>
      <header class='flex justify-between bg-gray-800 suse-font'>
        <div class='p-6 ml-6'>
          <h1 class='text-lg'>
            <a href='/'>Tech Blog</a>
          </h1>
        </div>
        <nav class='p-6 mr-6'>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <button class='no-button' id='logout'>logout</button>
          {{else}}
          <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      <main class='my-5'>
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
      <footer></footer>
    </div>
    {{#if logged_in}}
    <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>