<div class='flex-col justify-center items-center'>
  <div
    id='invalid-post'
    class='hidden p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400'
    role='alert'
  >
    <span class='font-medium'>Invalid post!</span>
    The post could not be added, check your data and try again.
  </div>
  <div
    class='flex-row justify-center items-center p-12 bg-gray-900 rounded-lg shadow-2xl'
  >
    <form class='form new-post-form flex-row'>
      <div class='form-group'>
        <label for='title'>Title</label>
        <input class='form-input' type='text' id='title' />
      </div>
      <div class='form-group'>
        <label for='content'>Content</label>
        <textarea class='form-input' id='content' rows="5" ></textarea>
      </div>
      <div class='form-group py-5'>
        <button class='btn btn-primary w-full' type='submit'>Add post</button>
      </div>
    </form>
  </div>
</div>
<script src='/js/post.js'></script>